<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Nano Template</title>
</head>
<body>
    <div id="nano"></div>
    <script src='http://a.tbcdn.cn/s/kissy/1.0.8/ks-core-min.js?t=20100603b.js'></script>
    <script src='../src/kissy.nano.js'></script>
    <script>

        var testData = {
            "Name": "Wenhe",
            "Title": "F2E",
            "GoodAt": {
                "Skill": "css, js",
                "Play": "O2Mania, KOF"
            }
        };

        var testTempl = [
            '<dl>',
                '<dt>Name:</dt>',
                '<dd>{Name}</dd>',
                '<dt>Title:</dt>',
                '<dd>{Title}</dd>',
                '<dt>Empty</dt>',
                '<dd>!{Empty}</dd>',
                '<dt>Nothing</dt>',
                '<dd>{Nothing}</dd>',
                '<dt>GoodAt</dt>',
                '<dd>{GoodAt}</dd>',
                '<dd>{GoodAt.Play}</dd>',
            '</dl>'
        ].join('');

        KISSY.get("#nano").innerHTML = KISSY.Nano(testTempl).render(testData);
    </script>
</body>
</html>
